<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <title>Omni Dashboard</title>
        <script src="./bundle.js"></script>
    </head>
    <body class="center cool cool-color cool-gradient-crazy" onload="OmniDashboard.start();">
        <div id="app" class="app stores container dynamic" style="max-width: 320px;">
            <carousel>
                <slide v-for="store in stores">
                    <store v-bind:store="store"
                           v-bind:key="store.name"></store>
                </slide>
            </carousel>
            <div class="footer">Updated 20/03 17.32</div>
            <div class="selectors">
                <span v-for="store in stores">&middot;</span>
            </div>
        </div>
    </body>
</html>
