@charset "utf-8";

.stores .footer {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.stores .selectors {
    color: #8d8d8d;
    font-size: 44px;
}

.stores .selectors > .selected {
    color: #2d2d2d;
}
