@charset "utf-8";

.app {
    margin: 12px 0px 12px 0px;
    max-width: 100%;
}

.line {
    font-size: 0px;
}

.line > .column {
    display: inline-block;
    vertical-align: middle;
    width: 33.33%;
}

.line > .column.left {
    text-align: left;
}

.line > .column.right {
    text-align: right;
}
