@charset "utf-8";

@-webkit-keyframes fade-into {

    from {
        -o-opacity: 0;
        -ms-opacity: 0;
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;
        -o-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -khtml-transform: translateY(30px);
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    to {
        -o-opacity: 1;
        -ms-opacity: 1;
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        opacity: 1;
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -khtml-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes fade-into {

    from {
        -o-opacity: 0;
        -ms-opacity: 0;
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;
        -o-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -khtml-transform: translateY(30px);
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    to {
        -o-opacity: 1;
        -ms-opacity: 1;
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        opacity: 1;
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -khtml-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes fade-grow {

    from {
        -o-opacity: 0;
        -ms-opacity: 0;
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;
        -o-transform: scale(0.96);
        -ms-transform: scale(0.96);
        -moz-transform: scale(0.96);
        -khtml-transform: scale(0.96);
        -webkit-transform: scale(0.96);
        transform: scale(0.96);
    }

    to {
        -o-opacity: 1;
        -ms-opacity: 1;
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        opacity: 1;
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -khtml-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes fade-grow {

    from {
        -o-opacity: 0;
        -ms-opacity: 0;
        -moz-opacity: 0;
        -khtml-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;
        -o-transform: scale(0.96);
        -ms-transform: scale(0.96);
        -moz-transform: scale(0.96);
        -khtml-transform: scale(0.96);
        -webkit-transform: scale(0.96);
        transform: scale(0.96);
    }

    to {
        -o-opacity: 1;
        -ms-opacity: 1;
        -moz-opacity: 1;
        -khtml-opacity: 1;
        -webkit-opacity: 1;
        opacity: 1;
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -khtml-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

html {
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body {
    color: #2d2d2d;
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 22px;
    shape-rendering: crispEdges;
}

body.cool {
    background-color: #f2f2f2;
}

body.cool.cool-yellow {
    background-color: #fbdb62;
}

body.cool.cool-blue {
    background-color: #2d9fc4;
}

body.cool.cool-green {
    background-color: #8dbab5;
}

body.cool.cool-grey {
    background-color: #5d5d5d;
}

body.cool.cool-gradient,
body.cool.cool-gradient-green {
    background-attachment: fixed;
    background-image: linear-gradient(to right bottom, rgba(0, 128, 128, 1) 20%, #8dbab5 100%);
}

body.cool.cool-gradient-blue {
    background-attachment: fixed;
    background-image: linear-gradient(to right bottom, #1c7591 20%, #2d9fc4 100%);
}

body.cool.cool-gradient-violet {
    background-attachment: fixed;
    background-image: linear-gradient(to right bottom, #a18cd1 0%, #fbc2eb 100%);
}

body.cool.cool-gradient-crazy {
    background-attachment: fixed;
    background-image: linear-gradient(to right top, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);
}

body.center {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px 16px 0px 16px;
    min-height: 100%;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: 16px 0px 16px 0px;
}

h2 {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    margin: 12px 0px 12px 0px;
}

body.cool h1 {
    color: #2d2d2d;
}

p {
    margin: 8px 0px 8px 0px;
}

p.extra {
    margin-top: 16px;
}

p.footer {
    bottom: 0px;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.3px;
    position: absolute;
}

p.footer.upper {
    color: #4d4d4d;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

body.cool.cool-color p.footer {
    color: #ffffff;
}

a {
    color: #4769cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.strong,
span.strong {
    background-color: #dbe9f4;
    padding: 2px 4px 2px 4px;
}

a.button,
span.button {
    background-color: #2d9fc4;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    height: 34px;
    letter-spacing: 1px;
    line-height: 34px;
    margin: 0px 0px 0px 0px;
    min-width: 120px;
    text-transform: uppercase;
    -o-transition: color 0.1s linear, background-color 0.1s linear;
    -ms-transition: color 0.1s linear, background-color 0.1s linear;
    -moz-transition: color 0.1s linear, background-color 0.1s linear;
    -khtml-transition: color 0.1s linear, background-color 0.1s linear;
    -webkit-transition: color 0.1s linear, background-color 0.1s linear;
    transition: color 0.1s linear, background-color 0.1s linear;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a.button.button-small,
span.button.button-small {
    font-size: 10px;
    height: 30px;
    line-height: 30px;
}

a.button.button-green,
span.button.button-green {
    background-color: #64a280;
}

a.button:hover,
span.button:hover {
    background-color: #31acd4;
    text-decoration: none;
}

a.button:active,
span.button:active {
    background-color: #2c99bd;
}

a.button.button-grey,
span.button.button-grey {
    background-color: #2d2d2d;
}

a.button.button-grey:hover,
span.button.button-grey:hover {
    background-color: #4d4d4d;
}

a.button.button-grey:active,
span.button.button-grey:active {
    background-color: #1d1d1d;
}

a.button.button-transparent,
span.button.button-transparent {
    background-color: transparent;
    border: 1px solid #ffffff;
}

a.button-transparent:hover,
span.button-transparent:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

a.button-transparent:active,
span.button-transparent:active {
    background-color: rgba(255, 255, 255, 0.5);
}

hr {
    margin: 3px 0px 3px 0px;
}

table {
    font-size: 13px;
    line-height: 18px;
    max-width: 760px;
    table-layout: fixed;
    word-break: break-all;
}

table th {
    font-weight: 600;
}

table th > *,
table td > * {
    vertical-align: middle;
}

table th > a {
    color: #2d2d2d;
}

table th > a.selected {
    font-weight: bold;
    text-decoration: underline;
}

table td > svg {
    color: #4d4d4d;
    fill: currentColor;
    margin-right: 6px;
}

.buttons {
    margin: 16px 0px 16px 0px;
}

.highlight {
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0px 12px 0px;
}

.highlight > a {
    background: #f4f4f4;
    -o-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.35);
    -ms-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.35);
    -moz-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.35);
    -khtml-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.35);
    -webkit-box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.35);
    box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.35);
    display: inline-block;
    padding: 8px 16px 8px 16px;
}

.traceback {
    line-height: 26px;
    margin: 8px 0px 8px 0px;
}

.container {
    -o-animation: fade-into 0.75s ease-in-out;
    -ms-animation: fade-into 0.75s ease-in-out;
    -moz-animation: fade-into 0.75s ease-in-out;
    -khtml-animation: fade-into 0.75s ease-in-out;
    -webkit-animation: fade-into 0.75s ease-in-out;
    animation: fade-into 0.75s ease-in-out;
    width: 100%;
}

body.cool .container {
    -o-animation: fade-grow 0.5s ease-in-out;
    -ms-animation: fade-grow 0.5s ease-in-out;
    -moz-animation: fade-grow 0.5s ease-in-out;
    -khtml-animation: fade-grow 0.5s ease-in-out;
    -webkit-animation: fade-grow 0.5s ease-in-out;
    animation: fade-grow 0.5s ease-in-out;
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -o-box-shadow: 0px 0px 3px #e4e4e4;
    -ms-box-shadow: 0px 0px 3px #e4e4e4;
    -moz-box-shadow: 0px 0px 3px #e4e4e4;
    -khtml-box-shadow: 0px 0px 3px #e4e4e4;
    -webkit-box-shadow: 0px 0px 3px #e4e4e4;
    box-shadow: 0px 0px 3px #e4e4e4;
    padding: 24px 42px 24px 42px;
    width: auto;
}

body.cool .container.dynamic {
    padding: 24px 0px 24px 0px;
    width: 100%;
}

body.cool.cool-color .container {
    background-color: #fefefe;
    border: none;
    -o-box-shadow: 0px 0px 24px rgba(10, 10, 10, 0.4);
    -ms-box-shadow: 0px 0px 24px rgba(10, 10, 10, 0.4);
    -moz-box-shadow: 0px 0px 24px rgba(10, 10, 10, 0.4);
    -khtml-box-shadow: 0px 0px 24px rgba(10, 10, 10, 0.4);
    -webkit-box-shadow: 0px 0px 24px rgba(10, 10, 10, 0.4);
    box-shadow: 0px 0px 24px rgba(10, 10, 10, 0.4);
}

.container img.logo {
    max-height: 128px;
    max-width: 128px;
}

@media screen and (max-width: 760px) {

    table th,
    table td {
        display: none;
    }

    table td:nth-child(1) {
        display: initial;
    }

    body.cool .container {
        padding: 12px 12px 12px 12px;
    }
}
