.store .results {
    margin: 12px 0px 12px 0px;
    font-weight: 500;
    padding: 6px 16px 6px 16px;
    border-radius: 2px;
    font-size: 0px;
}

.store .results:after {
    clear: both;
    content: "";
    display: block;
}
.store .results > * {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    vertical-align: middle;
}

.store .results > .left {
    text-align: left;
}

.store .results > .right {
    text-align: right;
}

.store .results .weekday {
    font-style: oblique;
}

.store .results .money {
    font-size: 16px;
}